* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
}

h1,
h2 {
    color: #F9FAF8;
    font-size: 24px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

a {
    color: white;
    text-decoration: none;
}

.header-links {
    margin: 0 20px;
}

.first-section {
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sup {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.box {
    padding: 150px 20px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explorer-box {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.img-placeholder {
    width: 600px;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #666;
}

.sign-up {
    background-color: #3882f6;
    padding: 15px 30px;
    font-weight: 800;
    flex: 0 0 auto;
    border-radius: 10px;
}

.sign-up:hover {
    background-color: #003d9e;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    background-color: white;
    padding: 80px;
}

.box-items {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.miniflex {
    display: flex;
    flex-direction: column;
}

.second-section .miniflex {
    align-items: center;
    gap: 15px;
    width: 200px;
}

.items {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.second-section p {
    text-align: center;
}

.third-section {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 80px;
}

.organizer {
    width: 1300px;
    display: flex;
    gap: 80px;
    flex-direction: column;
}

.third-section .miniflex {
    width: 700px;
    padding: 30px;
    background-color: white;
    gap: 15px;
}

.quote {
    font-size: 30px;
    color: #1f2936;
    font-weight: 300;
    text-align: justify;
    font-style: italic;
}

.reference {
    font-size: 24px;
    font-weight: 900;
    text-align: right;
}

.o-left {
    align-self: flex-start;
    border-left: 10px solid #3882f6;
}

.o-right {
    align-self: flex-end;
    border-right: 10px solid #3882f6;
}

.fourth-section {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 150px;
    color: white;
}

.blueback {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    width: 1300px;
    padding: 80px;
    justify-content: space-between;
    box-sizing: border-box;
}

.call-to-action {
    font-size: 24px;
}

.sign-up-text {
    font-size: 18px;
}

.blueback div {
    
}

.blueback a {
    border: 1px solid white;
}

.one {
    justify-self: flex-end;
}

.footer {
    background-color: #1f2937;
    height: 100px;
    display: flex;
}

.footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}